@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-form{
    position: relative;
    width: 100%;
}

.search-form input {
    width: 100%;
    padding: 10px 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-form i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.suggestions-box {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    max-height: 150px;
    overflow-y: auto;
}

.suggestions-box li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-box li:hover {
    background-color: #eee;
}


.date-picker {
    margin-top: 10px;
}

.date-picker label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.date-picker input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}